.container {
  display: flex;
}

.list {
  flex: 1;
  margin: 16px;
}

ul {
  margin: 0; /* Remove default margin on ul */
  padding: 0; /* Remove default padding on ul */
  list-style: none; /* Remove default list-style (bullets) on ul */
}
