<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="isHandset() ? 'dialog' : 'navigation'"
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/transactions">Transactions</a>
      <a mat-list-item routerLink="/income">Income</a>
      <a mat-list-item routerLink="/expenses">Expenses</a>
      <a mat-list-item routerLink="/savings">Savings</a>
      <a mat-list-item routerLink="/debt">Debt</a>
      <a mat-list-item routerLink="/reports">Reports</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>My Budget {{this.navigationTitle()}}</span>
    </mat-toolbar>
    <div class="content-container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
